*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}

#nav h3{
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-size: 22px;
    margin-left: 5px;
    border-radius: 50px;

}

#intro{
    height: 45%;
    width: 100%;
    background-color: white;
    padding: 55px 70px;
}

#intro h1{
    font-size: 100px;
    letter-spacing: -3;
    line-height: 120px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#place h3,#place h4{
    font-size: 23px;
    padding: 10px 10px;
}

#hero{
    height: 100%;
    width: 100%;
    background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover;
}

#about{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}

#about h2{
    width: 60%;
    font-size: 70px;
    line-height: 85px;
}

#about-part2{
    width: 35%;
    height: 100%;
    background-color: white;
    padding: 0px 50px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-part2 h3{
    font-size: 33px;
    
}
#icons i{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    margin-right: 10px;

}

#work{
    height: 45%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    padding: 50px 60px;
    
}

#work1{
    width: 35%;
    height: 100%;
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    border-right: 2px solid black;
}

#work1 h3{
    font-size: 33px;
}
#work1 i{
    font-size: 30px;
}

#work2{
    width: 65%;
    height: 100%;
    padding: 0px 60px;
}

.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;

}
.work2-part:nth-child(1)
{
    padding-top: 0;
    border-bottom: 2px solid black;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
    margin-left: 60px;
    color: rgb(81, 78, 78);
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
    padding-right: 40px;
}
.work2-part .elem:nth-child(2){
    padding-left: 60px;
}
.work2-part .elem h4{
    font-size: 40px;
}
.work2-part .elem p{
    font-size: 18px;
}